.header {
    background-color: #131921;
    display: flex;
    align-items: center;
}

.header_logo{
    width: 100px;
    margin: 1rem 1.3rem 0;
}

.header_searchIcon{
    background-color: #cd9042;
    padding: 0.75rem;
    border-radius: 0 10px 10px 0px;
    margin-left:-10px;
}

.header_search{
    display: flex;
}
.header_searchInput{
    padding: 1rem;
    width: 40%;
    border: none;
    border-radius: 10px;;
}