.product{
   display: flex;
   flex-direction: column;
   min-width: 300px;
   max-width: 550px;
   max-height: 700px;
   background-color: white;
   margin: 1rem;
   justify-content: flex-end;
   border: 1px solid gray;
}


.product > img {
  padding-bottom: 1rem;
   object-fit: contain;
   width: 100%;
  
   object-fit: cover;
   margin-bottom: 15px;
  }

.product_info{
   height: 100px;
   margin-bottom: 15px;
}

.product_rating{
    display: flex;
    
}
.product_price{
  margin-top:5px;
}

.product button{
  background-color: #f0c14b;
  border: 1px solid;
  width: 100%;
 
}